@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DINOT';
  src: url('/fonts/DINOT.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINOT';
  src: url('/fonts/DINOT-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --primary: #2742CB; /* Default fallback */
  --background: #D5DFE2; /* Default fallback */
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: 'DINOT', Arial, Helvetica, sans-serif;
}

/* Scrollbar */
.scrollbar-blue {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

.scrollbar-blue::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-blue::-webkit-scrollbar-track {
  background: var(--background);
}

.scrollbar-blue::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 20px;
  border: 3px solid var(--background);
}

@layer components {
  .responsive-heading {
    font-size: 15vw;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

code {
  background-color: var(--primary);
  color: var(--background);
  padding: 0 5px;
}
