@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DINOT';
  src: url('/fonts/DINOT.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINOT';
  src: url('/fonts/DINOT-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --background: #D5DFE2;
  --foreground: #171717;
  --primary: #2742CB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #2742CB;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'DINOT', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}